---
// src\components\About\AboutCompromisos.astro
import FlipCard from "../Common/FlipCard.astro";
---

<h2
    class="text-xl font-semibold md:text-5xl text-limmat block text-center uppercase"
>
    Nuestras competencias
</h2>

<div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 p-4"
>
    <FlipCard frontText="1" backText="11" />
    <FlipCard frontText="2" backText="22" />
    <FlipCard frontText="3" backText="33" />
</div>
