---
import Layout from "../layouts/Layout.astro";
import HeroVideo from "../components/Layout/HeroVideo.astro";
import Section from "../components/Layout/Section.astro";
import DesviosAparatosViasKPIs from "../components/DesviosAparatatosVia/DesviosAparatosViasKPIs.astro";
import DesviosAparatosViasSolutions from "../components/DesviosAparatatosVia/DesviosAparatosViasSolutions.astro";
import Separator from "../components/Layout/Separator.astro";
---

<Layout>
	<HeroVideo
		title="Desvíos y aparatos de vía"
		videoFileName="desvios-aparatos-via.mp4"
		logo="/images/logos/plogo-imas.webp"
	/>
	<main class="w-100 md:w-[75vw]">
		<Section>
			<DesviosAparatosViasKPIs />
		</Section>

		<Separator />

		<Section>
			<DesviosAparatosViasSolutions />
		</Section>
	</main>
</Layout>
