---
import Layout from "../layouts/Layout.astro"
import HeroVideo from "../components/HeroVideo.astro"
import SolutionsCards from "../components/Home/SolutionsCards.astro"
import SolutionsSection from "../components/Home/SolutionsSection.astro"
import Section from "../components/Section.astro"
import Separator from "../components/Separator.astro"
---
<Layout>
	<HeroVideo title="The railway digitalization that move us" videoFileName="home.mp4" />
	<main class="w-100 md:w-[75vw]">
		<Section>
			<SolutionsSection />
		</Section>
		<Separator></Separator>
		<Section>
			<SolutionsCards />
		</Section>
	</main>
</Layout>
