---
import Layout from "../layouts/Layout.astro";
import HeroVideo from "../components/Layout/HeroVideo.astro";
import SolutionsCards from "../components/Home/HomeCompetencies.astro";
import SolutionsSection from "../components/Home/HomeSolutions.astro";
import Section from "../components/Layout/Section.astro";
import Separator from "../components/Layout/Separator.astro";
import Clients from "../components/Home/HomeClients.astro";
import Associations from "../components/Home/HomeAssociations.astro";
import Pymes from "../components/Home/HomePymes.astro";
import Collaboration from "../components/Home/HomeCollaboration.astro";
---

<Layout>
	<!-- Hero Section -->
	<HeroVideo
		title="The railway digitalization that move us"
		videoFileName="home.mp4"
	/>

	<!-- Main Content -->
	<main class="w-full md:w-[75vw] mx-auto mt-16">
		<!-- Section "Soluciones inteligentes para infraestructuras" -->
		<Section>
			<SolutionsSection />
		</Section>

		<!-- Section Separator -->
		<Separator />

		<!-- Section "Nuestras competencias" -->
		<Section>
			<SolutionsCards />
		</Section>

		<!-- Section Separator -->
		<Separator />

		<!-- Section "Algunos de nuestros clientes" -->
		<Section>
			<Clients />
		</Section>

		<!-- Section Separator -->
		<Separator />

		<!-- Section "Asociaciones y Grupos de trabajo" -->
		<Section>
			<Associations />
		</Section>

		<!-- Section Separator -->
		<Separator />

		<!-- Section "PYMS" -->
		<Section>
			<Pymes />
		</Section>

		<!-- Section Separator -->
		<Separator />

		<!-- Section "Encuentra cómo podemos colaborar juntos" -->
		<Collaboration />
	</main>
</Layout>

<!-- Script de inicialización del carrusel -->
<script src="../scripts/carousel-init.js"></script>
