---
import Card from "./CompetenciesCard.astro";
---

<section
    class="bg-neutral-900 flex justify-center mx-auto lg:shadow-md lg:rounded-2xl my-5"
>
    <div class="lg:mx-8 lg:max-w-6xl lg:w-full">
        <h2
            class="text-xl font-semibold md:text-5xl text-limmat block text-center uppercase"
        >
            Nuestras competencias
        </h2>

        <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 p-4"
        >
            <Card
                image="/images/competencias/competencies1.webp"
                title="Signalling & Telecomunications"
            />
            <Card
                image="/images/competencias/competencies2.webp"
                title="Rolling Stock"
            />
            <Card
                image="/images/competencias/competencies3.webp"
                title="Superstructure and power supply"
            />
            <Card
                image="/images/competencias/competencies4.webp"
                title="System Integration"
            />
            <Card
                image="/images/competencias/competencies5.webp"
                title="Big Data & Data Analytic"
            />
            <Card
                image="/images/competencias/competencies6.webp"
                title="Machine Learning"
            />
            <Card
                image="/images/competencias/competencies7.webp"
                title="Cybersecurity"
            />
            <Card image="/images/competencias/competencies8.webp" title="BIM" />
        </div>
    </div>
</section>
