---
// src\components\Home\HomeCollaboration.astro
---

<section class="relative h-[300px] md:h-[400px] w-full mb-16">
    <div
        class="absolute inset-0 bg-cover bg-center bg-no-repeat shadow-md rounded-2xl"
        style="background-image: url('/images/home/home-banner.webp');"
    >
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    </div>

    <div
        class="relative h-full flex flex-col items-center justify-center px-4 text-center"
    >
        <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-white mb-6">
            Encuentra cómo podemos colaborar juntos
        </h2>
        <a
            href="/contacto"
            class="font-semibold text-white bg-limmat rounded-lg hover:opacity-80 hover:text-white py-2 px-6 transition duration-300"
        >
            Empezar a colaborar
        </a>
    </div>
</section>
