---
// src/components/Home/SolutionsSection.astro
import Carousel from "../Common/Carousel.astro";
const images = [
    { src: "/images/home/smart-solutions-1.webp", alt: "Smart Solution" },
    { src: "/images/home/smart-solutions-2.webp", alt: "Smart Solution" },
    { src: "/images/home/smart-solutions-3.webp", alt: "Smart Solution" },
];
---

<div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-4">
    <div class="flex items-center justify-center w-full h-full p-12">
        <Carousel id="solutions-carousel" images={images} />
    </div>

    <div class="w-full h-full p-12">
        <h2
            class="text-xl md:text-2xl lg:text-4xl text-limmat font-semibold uppercase"
        >
            Soluciones inteligentes para infraestructuras
        </h2>

        <p class="dark:text-gray-300 text-start">
            Limmat proporciona soluciones tecnológicas para la digitalización de
            las infraestructuras y de los subsistemas que las conforman, así
            como de los vehículos ferroviarios con el fin de ayudar a nuestros
            clientes a mejorar la eficiencia tanto en la fase de construcción
            como durante la operación y mantenimiento.
        </p>

        <a
            href="/blog"
            class="block md:w-2/6 p-8 py-2 text-base font-semibold text-white bg-limmat rounded-lg hover:opacity-80 hover:text-white sm:w-100"
        >
            Descúbrelo
        </a>
    </div>
</div>
