---
import Card from "../Card.astro";
---
<section class="bg-neutral-900 flex justify-center mx-auto lg:shadow-md lg:rounded-2xl my-5">
    <div class="lg:mx-8 lg:max-w-6xl lg:w-full">

        <h2 class="text-xl font-semibold md:text-5xl text-limmat block text-center uppercase">
            Nuestras competencias
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 p-4">
        <Card image="/images/competencies1.jpg" title="Signalling & Telecomunications" />
        <Card image="/images/competencies2.jpg" title="Rolling Stock" />
        <Card image="/images/competencies3.jpg" title="Superstructure and power supply" />
        <Card image="/images/competencies4.jpg" title="System Integration" />
        <Card image="/images/competencies5.jpg" title="Big Data & Data Analytic" />
        <Card image="/images/competencies6.jpg" title="Machine Learning" />
        <Card image="/images/competencies7.jpg" title="Cybersecurity" />
        <Card image="/images/competencies8.jpg" title="BIM" />
        </div>
    </div>
  </section>