---
// src\components\Home\SolutionsSection.astro
import Carousel from "../Carousel.astro"
---
<section class="bg-neutral-900 flex justify-center mx-auto lg:shadow-md lg:rounded-2xl">
    <div class="lg:mx-8 lg:flex lg:max-w-6xl lg:w-full">
        <div class="lg:w-1/2">
            <Carousel />
        </div>

        <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
            <h2 class="text-xl font-semibold md:text-4xl text-limmat block uppercase">
                Soluciones inteligentes para infraestructuras
            </h2>


            <p class="mt-4 text-gray-500 dark:text-gray-300">
                Limmat proporciona soluciones tecnológicas para la digitalización de las infraestructuras y de los subsistemas
                que las conforman, así como de los vehículos ferroviarios con el fin de ayudar a nuestros clientes a mejorar la 
                eficiencia tanto en la fase de construcción como durante la operación y mantenimiento.
            </p>

            <div class="w-full mt-6 sm:w-auto">
                <a href="/blog" class="w-full inline-flex items-center justify-center py-2 text-base font-semibold text-white bg-limmat rounded-lg hover:opacity-80 hover:text-white">
                    Descúbrelo
                </a>
            </div>
        </div>
    </div>
</section>