<section class="bg-neutral-900 flex justify-center lg:shadow-md lg:rounded-2xl my-5 px-4 sm:px-6 md:px-8 lg:px-12">
    <div class="w-full max-w-5xl">
      <h2 class="text-2xl font-semibold md:text-3xl lg:text-4xl text-limmat text-start lg:text-center uppercase">
        ¿Interesado en colaborar con LIMMAT?
      </h2>
  
      <div class="py-3 md:py-6">
        <p class="mt-4 text-gray-300">
          Estamos comprometidos con el desarrollo continuo de nuestro ecosistema, colaborando con 
          socios en ventas, desarrollo de software e integración de software. Juntos, podemos colaborar 
          en el desarrollo y digitalización de tus productos y procesos.
        </p>
        <p class="mt-4 text-gray-300">
          Si compartes esta visión, te invitamos a unirte a nuestra red de socios.
        </p>
  
        <div class="mt-6 flex justify-center">
          <a href="https://share-eu1.hsforms.com/1aGmPpwK3S1OvJR2u6QhprQ2dq321" class="inline-flex items-center justify-center py-2 px-4 text-base font-semibold text-white bg-limmat rounded-lg hover:opacity-80 hover:text-white transition-colors duration-300">
            Colaborar con LIMMAT
          </a>
        </div>
      </div>
    </div>
  </section>
  