---
import { Icon } from "astro-icon/components";
import { SITE_GOOGLE_MAP_URL } from '../consts';
import ContactMap from "../components/ContactMap.astro"

const ContactInfo = [
  {
    icon: "mdi:map-marker",
    title: 'Visítanos',
    text: "Edificio Zafiro, Calle Gremios Segovianos, 3\nPolígono de Hontoria 40195 Segovia",
  },
  {
    icon: "mdi:phone",
    title: 'Llámanos',
    text: '+34 644121775',
  },
  {
    icon: 'mdi:email',
    title: 'Escríbenos',
    text: 'info@limmat-group.com',
  },
];
---

<!-- Section Title -->
<h2 class="text-xl font-semibold md:text-5xl text-limmat block text-center uppercase">¿Hablamos?</h2>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-12">
  <!-- Columna Izquierda: Información de Contacto -->
    <div class="space-y-6">
      {ContactInfo.map((info) => (
        <div class="flex items-start space-x-4">
          <div class="text-limmat">
            <Icon name={info.icon} class="mr-3 text-4xl" />
          </div>
          <div>
            <h3 class="text-xl font-bold text-white">{info.title}</h3>
            <p class="text-base text-gray-400">{info.text}</p>
          </div>
        </div>
      ))}
    </div>

  <!-- Columna Derecha: Mapa de Google -->
  <div class="h-full w-full">
    <ContactMap mapUrl={SITE_GOOGLE_MAP_URL} />  
  </div>
</div>
