---

---

<section
    class="bg-neutral-900 lg:shadow-md lg:rounded-2xl my-5 px-4 sm:px-6 md:px-8 lg:px-12"
>
    <div class="w-full max-w-5xl mx-auto">
        <h2
            class="text-2xl font-semibold md:text-3xl lg:text-4xl text-limmat text-start lg:text-center uppercase"
        >
            ¿Qué proporciona?
        </h2>

        <main class="relative z-20 w-full md:flex md:items-center">
            <div class="absolute w-full bg-limmat -z-10 md:h-96 rounded-2xl">
            </div>

            <div
                class="w-full p-6 bg-blue-600 md:flex md:items-center rounded-2xl md:bg-transparent md:p-0 lg:px-12 md:justify-evenly"
            >
                <img
                    class="h-24 w-24 md:mx-6 rounded-full object-cover shadow-md md:h-[32rem] md:w-80 lg:h-[36rem] lg:w-[26rem] md:rounded-2xl"
                    src="/images/desvios-aparatos-via/imas-solutions.webp"
                    alt="Soluciones IMAS+®"
                />

                <p class="text-lg text-white md:text-xl">
                    IMAS+® proporciona una solución para la monitorización de
                    los accionamientos de los aparatos de vía que es eficiente
                    en costes y no requiere de tendido de cables en vía, ni de
                    una renovación periódica baterías o de la instalación de
                    sensórica intrusiva en los accionamientos que requeriría de
                    una recertificación al ser elementos de seguridad.
                </p>
            </div>
        </main>
    </div>
</section>
