---
const { title, videoFileName = 'home.mp4', logo = '/images/logos/logo-limmat.svg' } = Astro.props;
const videoPath = `/videos/${videoFileName}`; // Esta es la ruta correcta
---
<section class="relative h-screen md:h-[60vh] w-full">
    <!-- Video de fondo -->
    <video autoplay muted loop playsinline class="absolute inset-0 w-full h-screen md:h-[60vh] object-cover">
      <source src={videoPath} type="video/mp4" />
      Tu navegador no soporta la etiqueta de video.
    </video>
  
    <!-- Overlay para oscurecer el video si es necesario -->
    <div class="absolute inset-0 bg-black opacity-25"></div>
  
    <!-- Contenido del texto centrado -->
    <div class="relative z-10 flex items-center justify-center h-screen md:h-[60vh] text-center">
      <div class="text-gray-300">
        <img src={logo} alt="Limmat Logo" class="mx-auto mb-4" width="400px" height="115px">
        <h1 class="text-3xl md:text-4xl font-bold text-gray-300 uppercase">{title}</h1>
      </div>
    </div>
  </section>
