---
---
<section class="relative h-screen md:h-[60vh] w-full">
    <!-- Video de fondo -->
    <video autoplay muted loop playsinline class="absolute inset-0 w-full h-screen md:h-[60vh] object-cover">
      <source src="/heros/hero.mp4" type="video/mp4" />
      Tu navegador no soporta la etiqueta de video.
    </video>
  
    <!-- Overlay para oscurecer el video si es necesario -->
    <div class="absolute inset-0 bg-black opacity-25"></div>
  
    <!-- Contenido del texto centrado -->
    <div class="relative z-10 flex items-center justify-center h-screen md:h-[60vh] text-center">
      <div class="text-gray-300">
        <img src="/images/logo-limmat.svg" alt="Limmat Logo" class="mx-auto mb-4">
        <h1 class="text-3xl md:text-5xl font-bold text-gray-300">The railway digitalization that move us</h1>
      </div>
    </div>
  </section>
  