---
import SolutionsCards from "./Home/SolutionsCards.astro"
import SolutionsSection from "./Home/SolutionsSection.astro"
---

<main class="w-100 md:w-[75vw]">
    <SolutionsSection />

    <SolutionsCards />
            
</main>