---
// src\components\Footer\FooterNavLinks.astro
const navLinks = [
    { href: "/about", label: "Política de privacidad " },
    { href: "/about", label: "Términos legales " },
    { href: "/about", label: "Política de cookies" },
];
---

<div class="mt-[18px] w-full">
    <ul class="flex flex-wrap justify-center gap-3 text-base">
        {
            navLinks.map((link) => (
                <li>
                    <a
                        class="text-limmat hover:text-white transition-colors text-[15px] font-normal hover:font-semibold"
                        href={link.href}
                    >
                        {link.label}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
