---
// src\components\Footer\FooterCopyright.astro
---

<div class="mt-6 text-center text-sm text-gray-300">
    &copy; {new Date().getFullYear()} Limmat M&M, S.L. Todos los derechos reservados.
</div>
