---
import BaseHead from "../components/Layout/BaseHead.astro";
import Header from "../components/Layout/Header.astro";
import Footer from "../components/Layout/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body class="bg-neutral-950">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
